<html>
<head>
    <title>Isoft注册账号</title>
    <meta charset="utf-8">
</head>
<link rel="stylesheet" href="{{ .ServerName }}/static/css/initial.css"/>
<link rel="stylesheet" href="{{ .ServerName }}/static/common/bootstrap-3.3.7-dist/css/bootstrap.css"/>
<script src="{{ .ServerName }}/static/common/jquery-1.11.3.min.js" type="text/javascript"></script>
<script src="{{ .ServerName }}/static/common/bootstrap-3.3.7-dist/js/bootstrap.js" type="text/javascript"></script>
<!-- jQuery左侧手风琴菜单栏 -->
<link rel="stylesheet" href="{{ .ServerName }}/static/common/leftnav/css/leftnav.css" media="screen" type="text/css">
<script type="text/javascript" src='{{ .ServerName }}/static/common/leftnav/js/leftnav.js'></script>
<body>
{{template "common/header.html" .}}

<input name="_servername" type="hidden" value="{{ .ServerName }}"/>

<div style="width: 88%;margin: 15px auto;">
    <div style="width:200px;min-height:300px;float: left;">
        <div class="account-l fl">
            <a class="list-title" href="{{ .ServerName }}/user/manage">统一部署管理系统</a>
            <ul id="accordion" class="accordion">
                <li>
                    <div class="link">
                        <i class="fa fa-leaf"></i>部署环境管理<i class="fa fa-chevron-down"></i>
                    </div>
                    <ul class="submenu">
                        <li><a href="{{ .ServerName }}/env/list">环境清单</a></li>
                    </ul>
                </li>
                <li>
                    <div class="link">
                        <i class="fa fa-leaf"></i>基础软件管理<i class="fa fa-chevron-down"></i>
                    </div>
                    <ul class="submenu">
                        <li><a href="#">java运行环境管理</a></li>
                        <li><a href="#">python运行环境管理</a></li>
                        <li><a href="#">golang运行环境管理</a></li>
                        <li><a href="#">mysql数据库管理</a></li>
                    </ul>
                </li>
                <li>
                    <div class="link">
                        <i class="fa fa-leaf"></i>应用服务管理<i class="fa fa-chevron-down"></i>
                    </div>
                    <ul class="submenu">
                        <li><a href="{{ .ServerName }}/service/list?service_type=mysql">mysql管理</a></li>
                        <li><a href="{{ .ServerName }}/service/list?service_type=nginx">nginx管理</a></li>
                        <li><a href="{{ .ServerName }}/service/list?service_type=beego">beego应用部署</a></li>
                        <li><a href="{{ .ServerName }}/service/list?service_type=api">api应用部署</a></li>
                        <li><a href="{{ .ServerName }}/service/monitor">服务监控</a></li>
                    </ul>
                </li>
                <li>
                    <div class="link">
                        <i class="fa fa-leaf"></i>部署教程<i class="fa fa-chevron-down"></i>
                    </div>
                    <ul class="submenu">
                        <li><a href="javascript:">教程</a></li>
                    </ul>
                </li>
            </ul>
        </div>
    </div>

    <div style="width:calc(100% - 205px);min-height:550px;float: right;">
    {{.LayoutContent}}
    </div>
</div>

{{template "common/footer.html"}}
</body>
</html>