a {
  display: block;
}
/*箭头部分*/
.down-arrow {
  width: 20px;
  height: 20px;
}

.down-arrow:after {
  content: '';
  display: block;
  width: 12px;
  height: 12px;
  border-right: 2px solid #888;
  border-top: 2px solid #888;
  -webkit-transform: rotate(135deg); /*箭头方向可以自由切换角度*/
  transform: rotate(135deg);
}
