<link rel="stylesheet" type="text/css" href="{{ .ServerName }}/static/common/paginator/css/paging.css">
<script type="text/javascript" src="{{ .ServerName }}/static/common/paginator/js/query.js"></script>
<script type="text/javascript" src="{{ .ServerName }}/static/common/paginator/js/paging.js"></script>
<script type="text/javascript" src="{{ .ServerName }}/static/common/vue.min.js"></script>

<script src="{{ .ServerName }}/static/js/service/service_edit.js"></script>

<div style="border:1px solid #D1D1D1;min-height: 500px;padding: 50px;">

    <div class="form-horizontal">
        <input type="hidden" name="service_id" value="{{ .ServiceInfo.Id }}"/>
        <div class="form-group">
            <label class="control-label col-sm-1" style="adding-left: 0px;padding-right: 0px;">服务名称</label>
            <div class="col-sm-5">
                <input class="form-control" type="text" placeholder="请输入服务名称" name="service_name"
                       readonly="readonly" value="{{ .ServiceInfo.ServiceName }}"/>
            </div>
            <label class="control-label col-sm-1" style="adding-left: 0px;padding-right: 0px;">服务类型</label>
            <div class="col-sm-5">
                <input class="form-control" type="text" placeholder="请输入服务类型" name="service_type"
                       readonly="readonly" value="{{ .ServiceInfo.ServiceType }}"/>
            </div>
        </div>
        <div class="form-group">
            <label class="control-label col-sm-1" style="adding-left: 0px;padding-right: 0px;">部署包名</label>
            <div class="col-sm-5">
                <input class="form-control" type="text" placeholder="请输入部署包名" name="package_name"
                       value="{{ .ServiceInfo.PackageName }}"/>
            </div>
            <label class="control-label col-sm-1" style="adding-left: 0px;padding-right: 0px;">运行模式</label>
            <div class="col-sm-5">
                <input class="form-control" type="text" placeholder="请输入运行模式" name="run_mode"
                       value="{{ .ServiceInfo.RunMode }}"/>
            </div>
        </div>
        <div class="form-group">
            <label class="control-label col-sm-1" style="adding-left: 0px;padding-right: 0px;">端口号</label>
            <div class="col-sm-5">
                <input class="form-control" type="text" placeholder="请输入端口号" name="service_port"
                       value="{{ .ServiceInfo.ServicePort }}"/>
            </div>
            <div class="col-sm-offset-1 col-sm-5">
                <button type="button" class="btn btn-success btn-sm" style="width: 120px;" onclick="modifyService()">提交</button>
            </div>
        </div>
    </div>

</div>