<link rel="stylesheet" type="text/css" href="{{ .ServerName }}/static/common/paginator/css/paging.css">
<script type="text/javascript" src="{{ .ServerName }}/static/common/paginator/js/query.js"></script>
<script type="text/javascript" src="{{ .ServerName }}/static/common/paginator/js/paging.js"></script>
<script type="text/javascript" src="{{ .ServerName }}/static/common/vue.min.js"></script>

<script src="{{ .ServerName }}/static/common/alert_info/alert_info-1.0.2/js/classie.js"></script>
<script src="{{ .ServerName }}/static/common/alert_info/alert_info-1.0.2/js/modalEffects.js"></script>
<link href="{{ .ServerName }}/static/common/alert_info/alert_info-1.0.2/css/component.css" rel="stylesheet">

<script src="{{ .ServerName }}/static/js/service/service_monitor.js"></script>

<div style="border:1px solid #D1D1D1;min-height: 500px;">

    <div class="row">
        <div class="col-lg-6" style="margin-top: 5px; margin-right: 5px; float: right;">
            <div class="input-group">
                <input type="text" class="form-control" placeholder="检索">
                <span class="input-group-btn">
                    <button class="btn btn-default" type="button">Go!</button>
                </span>
            </div>
        </div>
    </div>

    <div id="service_monitor" class="table-responsive" style="margin: 10px;margin-top: 20px;">
        <div style="margin-bottom: 10px;">

            <button type="button" class="btn btn-success btn-sm md-trigger" data-modal="editServiceMonitor">新增</button>
            <!-- bootstrap模态框弹出效果 -->
            <div class="md-modal md-effect-1" id="editServiceMonitor">
                <div class="md-content" style="height: 400px;">
                    <a href="#" class="md-close" style="float: right;margin: 10px;">X</a>
                    <h3>新增/编辑服务监控</h3>
                    <div>

                        <form class="form-horizontal">
                            <div class="form-group">
                                <label for="service_name" class="col-sm-3 control-label">请求地址</label>
                                <div class="col-sm-9">
                                    <input type="text" class="form-control" id="url" placeholder="请输入请求地址">
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="col-sm-offset-3 col-sm-9" id="_editServerMonitor_error"
                                     style="color: red;font-family:'Microsoft YaHei',arial, sans-serif;
                                        font-size: 12px;margin-bottom: 5px;"></div>
                                <div class="col-sm-offset-3 col-sm-9">
                                    <button type="button" class="btn btn-success" onclick="editServiceMonitor()" style="width: 100px;">提交</button>
                                </div>
                            </div>
                        </form>

                    </div>

                </div>
            </div>
            <div class="md-overlay"></div>
        </div>

        <table class="table text-nowrap">
            <thead>
            <tr>
                <th>请求地址</th>
                <th>请求方式</th>
                <th>响应码</th>
                <th>检测时间</th>
                <th>操作</th>
            </tr>
            </thead>
            <tbody>
            <tr v-cloak v-for="serviceMonitor in serviceMonitors">
                <td>[[ serviceMonitor.url ]]</td>
                <td>[[ serviceMonitor.method ]]</td>
                <td>[[ serviceMonitor.status_code ]]</td>
                <td>[[ serviceMonitor.last_updated_time ]]</td>
                <td :url="serviceMonitor.url">
                    <button type="button" class="btn btn-success btn-xs" aria-label="Left Align" onclick="editServiceMonitor1(this)">编辑</button>
                    <button type="button" class="btn btn-primary btn-xs" aria-label="Left Align" onclick="viewServiceMonitorDetail(this)">查看历史</button>
                </td>
            </tr>
            </tbody>
        </table>
        <div id="pageTool"></div>
    </div>
</div>