<link rel="stylesheet" type="text/css" href="{{ .ServerName }}/static/common/paginator/css/paging.css">
<script type="text/javascript" src="{{ .ServerName }}/static/common/paginator/js/query.js"></script>
<script type="text/javascript" src="{{ .ServerName }}/static/common/paginator/js/paging.js"></script>
<script type="text/javascript" src="{{ .ServerName }}/static/common/vue.min.js"></script>

<script src="{{ .ServerName }}/static/common/alert_info/alert_info-1.0.2/js/classie.js"></script>
<script src="{{ .ServerName }}/static/common/alert_info/alert_info-1.0.2/js/modalEffects.js"></script>
<link href="{{ .ServerName }}/static/common/alert_info/alert_info-1.0.2/css/component.css" rel="stylesheet">

<div style="border:1px solid #D1D1D1;min-height: 500px;">

<div style="padding: 20px;">
    <article>
        <h style="margin: 0 0 0 0px;font-size: 20px;font-weight: 400;color: green;">最近一次日志详情 {{.LastUpdatedTime}}</h>
        {{range .TrackingLogs}}
            <p style="margin: 12px 0 0 0;line-height: 150%;">{{.TrackingDetail}}</p>
        {{end}}
    </article>
</div>
    
</div>